*/node_modules/*
*/dist/*.js
server/**/*.js*
.idea

client/node_modules/
server/dist/
server/node_modules/
client/dist/bundle.min.js.map
!/server/tsconfig.json
!/server/package.json
/definitions/
!/client/dist/sass/
/client/dist/bundle.css
/client/dist/bundle.css.map
/client/dist/js/
