*/node_modules/*
*/dist/*.js
server/**/*.js*
definitions/**/*.js*
.idea
client/node_modules/
server/dist/
server/node_modules/
!/server/tsconfig.json
!/server/package.json
!/client/dist/sass/
/client/dist/bundle.css
/client/dist/bundle.css.map
arduino/cmake-build-debug/
